header{
	height: 7vh;
	padding: 15px 0;
	background: #222;
	a {
		color: #fff;
	}
}

.language-bar {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px #a4a3a340;
    border-radius: 4px;
    max-width: 100px;
    margin: 0 auto;
  
}

.language-title {
    color: black;
    line-height: 25px;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 40px 5px 12px;
    cursor: pointer;
    position: relative;
    @extend .icon__select-arrow--close;
    background-position: calc(100% - 16px) center;
    background-repeat: no-repeat;

    &.active {
        @extend .icon__select-arrow--open;
    }
}

.language-list {
    margin: 0;
    padding: 0;
    display: none;

    .menu-item {

        line-height: 25px;
        font-size: 14px;
        padding: 0 10px;
        cursor: pointer;
        list-style-type: none;

        &:before {
            display: none;
        }

        &:hover  {
            background: red;

            a {
                color: #fff;
            }
        }
        // &.active {
        //    display: none;
        // }
        a {
            color: red;
            text-decoration: none;
        }
    }
}

.icon__select-arrow--close {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7' fill='none'%3E%3Cpath d='M0.141803 1.34336C0.137995 1.20219 0.188194 1.06355 0.2855 0.946731C0.382806 0.82991 0.522409 0.740708 0.684776 0.691527C0.847142 0.642345 1.02425 0.635629 1.19151 0.67231C1.35878 0.708991 1.5078 0.787247 1.61799 0.896199L5.98647 5.05334L10.3534 0.8962C10.4214 0.820832 10.5076 0.757714 10.6069 0.710797C10.7061 0.66388 10.8162 0.634176 10.9302 0.623544C11.0442 0.612913 11.1596 0.621583 11.2693 0.649012C11.379 0.676441 11.4806 0.722037 11.5677 0.782946C11.6547 0.843856 11.7254 0.918765 11.7753 1.00298C11.8252 1.0872 11.8532 1.17892 11.8577 1.27238C11.8621 1.36585 11.8429 1.45905 11.8011 1.54615C11.7592 1.63325 11.6958 1.71238 11.6148 1.77858L6.6196 6.53813C6.54136 6.61287 6.44425 6.67289 6.3348 6.71404C6.22536 6.7552 6.10623 6.77651 5.9857 6.77651C5.86517 6.77651 5.74605 6.7552 5.6366 6.71404C5.52715 6.67289 5.42995 6.61287 5.35171 6.53813L0.351726 1.77858C0.220728 1.65835 0.146252 1.50413 0.141611 1.34336L0.141803 1.34336Z' fill='%23212121'/%3E%3C/svg%3E");
}

.icon__select-arrow--open {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7' fill='none'%3E%3Cpath d='M11.7161 5.43325C11.7199 5.57443 11.6697 5.71306 11.5724 5.82988C11.4751 5.9467 11.3355 6.0359 11.1731 6.08508C11.0108 6.13427 10.8337 6.14098 10.6664 6.1043C10.4991 6.06762 10.3501 5.98936 10.2399 5.88041L5.87144 1.72327L1.50449 5.88041C1.43655 5.95578 1.35028 6.0189 1.25103 6.06581C1.15178 6.11273 1.04168 6.14244 0.927688 6.15307C0.8137 6.1637 0.698271 6.15503 0.588583 6.1276C0.478895 6.10017 0.377302 6.05457 0.290231 5.99367C0.20316 5.93276 0.13253 5.85785 0.0826156 5.77363C0.0327008 5.68941 0.00466564 5.5977 0.000242185 5.50423C-0.00418127 5.41077 0.0150493 5.31756 0.0568559 5.23046C0.0986625 5.14336 0.162078 5.06423 0.243133 4.99803L5.23831 0.238484C5.31655 0.163741 5.41366 0.103722 5.52311 0.0625666C5.63255 0.0214112 5.75168 9.93203e-05 5.87221 9.93203e-05C5.99274 9.93203e-05 6.11186 0.0214112 6.22131 0.0625666C6.33076 0.103722 6.42796 0.163741 6.5062 0.238484L11.5062 4.99803C11.6372 5.11826 11.7117 5.27248 11.7163 5.43325H11.7161Z' fill='%23212121'/%3E%3C/svg%3E");
}